<div>
<label for="preg" class="rem"><span>Pregunta:</span></label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/> <p>
</div>

<div>
<label for="resp" class="rem"><span>Respuesta:</span></label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/> <p>
</div>
 
<div>
<label for="preg" class="rem"><span>Tema:</span></label>
<select name="quiz[tema]" selected="<%= quiz.tema %>">
  <option value="Otro" selected>Otro</option>
  <option value="Humanidades">Humanidades</option>
  <option value="Ocio">Ocio</option>
  <option value="Ciencia">Ciencia</option>
  <option value="Tecnología">Tecnología</option>
</select>
</div>  
   
<!--<label for="image" class="rem">Imagen:</label>
<input type="file" accept="image/*" id="image" name="image"/><p> -->
<a href="/quizes"><button type="button" class="button">Cancelar</button></a>
<input type="submit" value="Guardar" class="button">