
    <form method="get" action="/quizes/answer" class="bootstrap-frm">
        <div>       
        <label>Pregunta: <%= pregunta %> </label><p>
        <input type="text" name="respuesta" value="Respuesta"/>
        <input type="submit" value="Enviar">
        </div> 
    </form>
 